<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Comercial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-message">
    <h2>¡Bienvenido!</h2>
  </div>

  <!-- Card para el formulario de registro -->
  <ion-card class="register-card">
    <ion-card-header>
      <ion-card-title>Regístrate a continuación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (submit)="registerUser($event)">
        
        <ion-input fill="outline" label="Nombre" labelPlacement="floating" [(ngModel)]="user.nombre" name="nombre" required></ion-input>
        
        <ion-input fill="outline" label="Primer Apellido" labelPlacement="floating" [(ngModel)]="user.apellido1" name="apellido1" required></ion-input>
        
        <ion-input fill="outline" label="Segundo Apellido" labelPlacement="floating" [(ngModel)]="user.apellido2" name="apellido2" required></ion-input>
        
        <!-- Campo de Comisión con ícono de dinero -->
       
        <ion-input fill="outline" label="Comisión" labelPlacement="floating" [(ngModel)]="user.comision" name="comision" type="number" required></ion-input>
        
        
        <ion-input slot="cashOutline" fill="outline" label="Contraseña" labelPlacement="floating" [(ngModel)]="user.password" type="password" name="password" required></ion-input>
        
        <!-- Botón de Registro -->
        <div class="ion-padding">
          <ion-button type="submit" expand="block" fill="solid" shape="round" class="register-button" >Registrarse</ion-button>
        </div>
      </form>

      <!-- Botón para regresar (no ocupa todo el ancho) -->
  <div class="ion-padding ion-text-center">
    <ion-button fill="solid" shape="round" class="back-button" (click)="goBack()">Volver</ion-button>
  </div>

    </ion-card-content>
  </ion-card>

  <!-- Mensaje de error si hay un problema en el registro -->
  <div *ngIf="errorMessage" class="ion-text-center ion-padding">
    <ion-text color="danger">{{ errorMessage }}</ion-text>
  </div>

  
</ion-content>
