<ion-header>
  <ion-toolbar>
    <ion-title>Comerciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Lista de Comerciales</h2>

  <!-- Lista de comerciales -->
  <ion-list *ngIf="productos.length > 0">
    <ion-item *ngFor="let producto of productos">
      <ion-label>
        <h2>producto #{{ producto.id }}</h2>
        <p>Nombre: {{ producto.nombre }}</p>
        <p>Precio: {{ producto.precio }}</p>
        <p>Stock: {{ producto.cantidad_disponible }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensaje si no hay comerciales o si hay un error -->
  <p *ngIf="productos.length === 0 && !errorMessage">No hay comerciales disponibles. Presiona "API Call" para obtener los datos.</p>
  <p *ngIf="errorMessage" class="ion-text-center ion-padding">{{ errorMessage }}</p>
</ion-content>

