<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-message">
    <h2>¡Bienvenido!</h2>
  </div>

  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title>Iniciar sesión en tu cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (submit)="login()">
       
          
          <ion-input  fill="outline" errorText="Usuario Necesario" label="Usuario" labelPlacement="floating" [(ngModel)]="username" name="username" required></ion-input>
      
          <ion-input  fill="outline" errorText="Contraseña Necesaria" label="Contraseña" labelPlacement="floating" [(ngModel)]="password" type="password" name="password" required></ion-input>
         
          <div class="ion-padding">
            <!-- Botón Iniciar Sesión con color azul -->
            <ion-button fill="solid" type="submit" expand="block" shape="round" class="login-button">Iniciar Sesión</ion-button>
          </div>
          
          <div class="ion-padding">
            <!-- Botón Registrarse con color rosa -->
            <ion-button fill="solid" expand="block" shape="round" class="register-button" (click)="goToUserRegister()">Registrarse</ion-button>
          </div>
          
      </form>
    </ion-card-content>
  </ion-card>
  

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage" class="ion-text-center ion-padding">
    <ion-text color="danger">{{ errorMessage }}</ion-text>
  </div>
</ion-content>

